@page "/fetchdata"

@using Champlin.Common
@using System.Collections.Generic
@inject IRepository<Crew> CrewRepo

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (crewList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Orig Url</th>
                <th>Pic Url</th>
                <th>Service Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var crew in crewList)
            {
                <tr>
                    <td>@crew.Name</td>
                    <td>@crew.OriginalUrl</td>
                    <td>@crew.PictureUrl</td>
                    <td>@crew.ServiceNumber</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Crew> crewList;

    protected override async Task OnInitializedAsync()
    {
        crewList = await CrewRepo.GetByRawQueryAsync("select * from c");
    }
}
